{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": 0,
    "react/prop-types": 0,
    "no-irregular-whitespace": 0,
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "semi": false
      }
    ]
  }
}